<%- include("./includes/head.ejs") %>
  </head>
  <body>
<%- include("./includes/nav.ejs") %>

<main>
    <% if(wines.length > 0){ %>
        <% wines.forEach(wine => { %>
            <article>
                <h2><%= wine.name %> <%= wine.year %></h2>
                <h3><%= wine.producer %></h3>
                <img src="<%= wine.imageUrl %>" alt="<%= wine.name%>">
                <a href="/edit-wine/<%= wine.id %>/?edit=true">Edit</a>
                <form action="/delete-wine" method="post">
                    <input type="hidden" value="<%= wine.id %>" name="wineId">
                    <button type="submit">Delete</button>
                </form>
            </article>
            <%}); %>
    <%} else {%>
        <h1>No Products Found!</h1>
        <% } %>
</main>


<%- include("./includes/end.ejs") %>